* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #1a1a1c!important;
}
  
@font-face {
  font-family: Burn;
  font-weight: bold;
  src: url(assets/fonts/Burn.OTF);
}

@font-face {
  font-family: Harmony;
  font-weight: bold;
  src: url(assets/fonts/Harmony.otf);
}

@font-face {
  font-family: Holiday;
  font-weight: bold;
  src: url(assets/fonts/HolidayFree.otf);
}

:root {
  --toastify-color-success: #f7f3ed;
}